In [1]:
import pandas as pd
import numpy as np

<center> Read CSV file</center>

In [18]:
# NEED TO CHANGE TO SPECIFIED LOC 
# df = pd.read_csv(r"output.csv", low_memory=False)
df.head()

,Study ID,Patient ID,Sample ID,Acquisition Method Type,Adjuvant Chemotherapy,Adjuvant Treatment,Advanced,Diagnosis Age,Age at derivation,Age at Diagnosis,...,UVA Signature,Vascular invasion indicator,Vessel Invasion,Vial number,Patient's Vital Status,Vital Status Code,Patient Weight,WGD,Winter Hypoxia Score,Year of Diagnosis
0,coad_cptac_2019,01CO001,01CO001,NaN,NaN,NaN,NaN,61.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,coad_cptac_2019,01CO005,01CO005,NaN,NaN,NaN,NaN,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,coad_cptac_2019,01CO006,01CO006,NaN,NaN,NaN,NaN,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,coad_cptac_2019,01CO008,01CO008,NaN,NaN,NaN,NaN,54.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,coad_cptac_2019,01CO013,01CO013,NaN,NaN,NaN,NaN,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.loc[:, df.columns.str.lower().str.contains("age")].head()

,Diagnosis Age,Age at derivation,Age at Diagnosis,Age At Diagnosis,Age at Metastases,Age at Sequencing,Age at Which Sequencing was Reported (Days),Age at Which Sequencing was Reported (Years),Age at Diagnosis.1,Age Groups,...,Stage.1,Stage At Diagnosis,Stage at Diagnosis,Stage_Dx,Stage Other,Storage Method,TNM Stage,TNM Stage at Diagnosis,Tumor Stage,Tumor Stage 2009
0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<center> Find columns that contain diagnosis age (or similar) and combine. Choose first non-null age.</center>

REF https://shecancode.io/filter-a-pandas-dataframe-by-a-partial-string-or-pattern-in-8-ways/#:~:text=Filter%20rows%20that%20match%20a%20given%20String%20in%20a%20column&text=We%20will%20use%20the%20Series,in%20the%20isin()%20function.

In [4]:
mask = (df.columns.str.lower().str.contains("age") 
        & df.columns.str.lower().str.contains("diagnos")
        & ~df.columns.str.lower().str.contains("stage")
       )

df.loc[:,mask].head()
cols = df.columns[mask]
# Not sure if bfill is the best choice here
df["Diagnosis Age"] = df.loc[:,cols].bfill(axis = 1).iloc[:,0]
df.drop(columns=cols).copy()
df.head()

,Study ID,Patient ID,Sample ID,Acquisition Method Type,Adjuvant Chemotherapy,Adjuvant Treatment,Advanced,Diagnosis Age,Age at derivation,Age at Diagnosis,...,UVA Signature,Vascular invasion indicator,Vessel Invasion,Vial number,Patient's Vital Status,Vital Status Code,Patient Weight,WGD,Winter Hypoxia Score,Year of Diagnosis
0,coad_cptac_2019,01CO001,01CO001,NaN,NaN,NaN,NaN,61.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,coad_cptac_2019,01CO005,01CO005,NaN,NaN,NaN,NaN,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,coad_cptac_2019,01CO006,01CO006,NaN,NaN,NaN,NaN,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,coad_cptac_2019,01CO008,01CO008,NaN,NaN,NaN,NaN,54.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,coad_cptac_2019,01CO013,01CO013,NaN,NaN,NaN,NaN,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<center>Should we do something with Year of Diagnosis?

<center>Create new Dataframe only with essential information</center>

In [5]:
for col in df.columns:
    df.columns = df.columns.str.strip()

In [6]:
rel_df = df[["Study ID", "Sample ID", "Diagnosis Age"]]
rel_df.head()

          Study ID Sample ID  Diagnosis Age
0  coad_cptac_2019   01CO001           61.0
1  coad_cptac_2019   01CO005           70.0
2  coad_cptac_2019   01CO006           75.0
3  coad_cptac_2019   01CO008           54.0
4  coad_cptac_2019   01CO013           58.0

<center>Remove entries with no diagnosis age attached</center>

In [7]:
removed_rows = rel_df.dropna(subset =["Diagnosis Age"], axis = 0)
removed_rows.head()

          Study ID Sample ID  Diagnosis Age
0  coad_cptac_2019   01CO001           61.0
1  coad_cptac_2019   01CO005           70.0
2  coad_cptac_2019   01CO006           75.0
3  coad_cptac_2019   01CO008           54.0
4  coad_cptac_2019   01CO013           58.0

<center> Remove duplicate samples</center>

In [8]:
print(removed_rows.shape)

(6499, 3)

In [9]:
unique_samples = removed_rows["Sample ID"].unique()
print(unique_samples.shape)

(4946,)

In [10]:
cleaned_df = removed_rows.drop_duplicates(subset=["Sample ID"], keep='first')
cleaned_df.shape

(4946, 3)

In [11]:
cleaned_df.head()

          Study ID Sample ID  Diagnosis Age
0  coad_cptac_2019   01CO001           61.0
1  coad_cptac_2019   01CO005           70.0
2  coad_cptac_2019   01CO006           75.0
3  coad_cptac_2019   01CO008           54.0
4  coad_cptac_2019   01CO013           58.0

<center> Add column for early onset</center>

In [15]:
cleaned_df = cleaned_df.copy()
cleaned_df["Early Onset"] = cleaned_df["Diagnosis Age"] <= 40
cleaned_df.head()

          Study ID Sample ID  Diagnosis Age  Early Onset
0  coad_cptac_2019   01CO001           61.0        False
1  coad_cptac_2019   01CO005           70.0        False
2  coad_cptac_2019   01CO006           75.0        False
3  coad_cptac_2019   01CO008           54.0        False
4  coad_cptac_2019   01CO013           58.0        False

<center> Locate rows where Early Onset = True</center>

In [16]:
early_onset = cleaned_df.copy()
early_onset.loc[early_onset["Early Onset"] == True]

               Study ID       Sample ID  Diagnosis Age  Early Onset
11      coad_cptac_2019         05CO004           40.0         True
15      coad_cptac_2019         05CO011           39.0         True
64      coad_cptac_2019         11CO036           37.0         True
83      coad_cptac_2019         11CO070           35.0         True
185      crc_orion_2024             C10           25.0         True
...                 ...             ...            ...          ...
7849  crc_nigerian_2020  s_PK_crc_121_T           28.0         True
7853  crc_nigerian_2020  s_PK_crc_126_T           36.0         True
7854  crc_nigerian_2020  s_PK_crc_127_T           34.0         True
7856  crc_nigerian_2020  s_PK_crc_132_T           36.0         True
7860  crc_nigerian_2020  s_PK_crc_136_T           39.0         True

[581 rows x 4 columns]