In [1]:
import pandas as pd
import numpy as np

<center> Read CSV file</center>

In [3]:
df = pd.read_csv("./data/output.csv", low_memory=False)
df.head()

,Study ID,Patient ID,Sample ID,Acquisition Method Type,Adjuvant Chemotherapy,Adjuvant Treatment,Advanced,Diagnosis Age,Age at derivation,Age at Diagnosis,...,UVA Signature,Vascular invasion indicator,Vessel Invasion,Vial number,Patient's Vital Status,Vital Status Code,Patient Weight,WGD,Winter Hypoxia Score,Year of Diagnosis
0,coad_cptac_2019,01CO001,01CO001,NaN,NaN,NaN,NaN,61.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,coad_cptac_2019,01CO005,01CO005,NaN,NaN,NaN,NaN,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,coad_cptac_2019,01CO006,01CO006,NaN,NaN,NaN,NaN,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,coad_cptac_2019,01CO008,01CO008,NaN,NaN,NaN,NaN,54.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,coad_cptac_2019,01CO013,01CO013,NaN,NaN,NaN,NaN,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.loc[:, df.columns.str.lower().str.contains("age")].head()

,Diagnosis Age,Age at derivation,Age at Diagnosis,Age At Diagnosis,Age at Metastases,Age at Sequencing,Age at Which Sequencing was Reported (Days),Age at Which Sequencing was Reported (Years),Age at Diagnosis.1,Age Groups,...,Stage.1,Stage At Diagnosis,Stage at Diagnosis,Stage_Dx,Stage Other,Storage Method,TNM Stage,TNM Stage at Diagnosis,Tumor Stage,Tumor Stage 2009
0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<center> Find columns that contain diagnosis age (or similar) and combine. Choose first non-null age.</center>

REF https://shecancode.io/filter-a-pandas-dataframe-by-a-partial-string-or-pattern-in-8-ways/#:~:text=Filter%20rows%20that%20match%20a%20given%20String%20in%20a%20column&text=We%20will%20use%20the%20Series,in%20the%20isin()%20function.

In [22]:
mask = (df.columns.str.lower().str.contains("age") 
        & df.columns.str.lower().str.contains("diagnos")
        & ~df.columns.str.lower().str.contains("stage")
       )

df.loc[:,mask].head()
cols = df.columns[mask]
# Not sure if bfill is the best choice here
df["Diagnosis Age"] = df.loc[:,cols].bfill(axis = 1).iloc[:,0]
df.drop(columns=cols).copy()
df.head()

,Study ID,Patient ID,Sample ID,Acquisition Method Type,Adjuvant Chemotherapy,Adjuvant Treatment,Advanced,Diagnosis Age,Age at derivation,Age at Diagnosis,...,UVA Signature,Vascular invasion indicator,Vessel Invasion,Vial number,Patient's Vital Status,Vital Status Code,Patient Weight,WGD,Winter Hypoxia Score,Year of Diagnosis
0,coad_cptac_2019,01CO001,01CO001,NaN,NaN,NaN,NaN,61.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,coad_cptac_2019,01CO005,01CO005,NaN,NaN,NaN,NaN,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,coad_cptac_2019,01CO006,01CO006,NaN,NaN,NaN,NaN,75.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,coad_cptac_2019,01CO008,01CO008,NaN,NaN,NaN,NaN,54.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,coad_cptac_2019,01CO013,01CO013,NaN,NaN,NaN,NaN,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<center>Should we do something with Year of Diagnosis?

<center>Create new Dataframe only with essential information</center>

In [36]:
for col in df.columns:
    df.columns = df.columns.str.strip()

In [64]:
rel_df = df[["Study ID", "Sample ID", "Diagnosis Age"]]
rel_df.head()

          Study ID Sample ID  Diagnosis Age
0  coad_cptac_2019   01CO001           61.0
1  coad_cptac_2019   01CO005           70.0
2  coad_cptac_2019   01CO006           75.0
3  coad_cptac_2019   01CO008           54.0
4  coad_cptac_2019   01CO013           58.0

<center>Remove entries with no diagnosis age attached</center>

In [67]:
removed_rows = rel_df.dropna(subset =["Diagnosis Age"], axis = 0)
removed_rows.head()

          Study ID Sample ID  Diagnosis Age
0  coad_cptac_2019   01CO001           61.0
1  coad_cptac_2019   01CO005           70.0
2  coad_cptac_2019   01CO006           75.0
3  coad_cptac_2019   01CO008           54.0
4  coad_cptac_2019   01CO013           58.0

<center> Now aim to do something with duplicate samples</center>

In [65]:
print(rel_df.shape)

(7873, 3)

In [42]:
unique_samples = rel_df["Sample ID"].unique()
print(unique_samples.shape)

(5416,)